/**
 * @Project NUKEVIET 4.x
 * @Author VINADES.,JSC <contact@vinades.vn>
 * @Copyright (C) 2014 VINADES.,JSC. All rights reserved
 * @License GNU/GPL version 2 or any later version
 * @Createdate 31/05/2010, 00:36
 */

/* Các tùy chỉnh CSS của giao diện nên để vào đây */
/* :root{
	--translate_cangiua: translate(-50%, -50%);
	--font: "Poppins";
	--size48: 48px;
	--size60: 60px;
	--color_333: #333;
	--size: 16px;
	--line-height26: 26px;
	--size24: 24px;
	--size34: 34px;
} */
.hover_red:hover, .tieude:hover{
	color: red !important;
}
.section-body{
	background: #fff;
}
#body{
	box-shadow: none;
	border: none;
}
.header_about{
	position: relative;
	width: 100%;
}
.header_about .nv-block-banners div{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 4;
	color: #fff;
	transform: translate(-50%, -50%) ;
	text-align: center;
	font-size: 60px;
	width: 100%;
	/* font-family: var(--font); */
}
.icon_heder{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: #fff;
	font-size: 23px;
	cursor: pointer;
}

.size_60{
	font-size: 60px;
	font-weight: bold;
	color: #333;
}
.txt a{
	color: #333;
}
.bodytext{
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
}
.a_link img, .row_proven img{
	width: 100%;
	padding: 5px;
}

.border_logic_header{
	position: absolute;
    width: 64px;
    height: 1px;
    background: red;
    border: 2px solid red;
    left: 0;
    top: 10px;
}
.txt{
	padding: 20px 0;
}
.pd_80{
	padding: 80px 0;
}
.pd_40{
	padding: 40px 0;
}
.content_header{
	overflow: hidden;
}
.content_header .bodytext, .content_about_work_it .bodytext{
	padding-right: 60px
}
.title .title_link_a{
	font-size: 48px;
	color: #333;
	font-weight: bold;
}
.center-block_product{
	padding: 30px 130px;
}

.content_a_link_red{
	padding: 15px;
    background: red;
}

.content_a_link_red span{
	color: #fff;
}
.div_red_link{
	margin-top: 30px;
}
.about_product .col-md-8::after{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
	background: red;
}

.about_product .row{
	margin-bottom: 75px;
}
.about_product .lople{
	position: absolute;
    width: 241px;
    height: 209px;
    z-index: 20;
    right: -32px;
    bottom: -22px;
    border-radius: 10px;
    background: #ff020069;
}

.about_product .lopchan{
	position: absolute;
    width: 241px;
    height: 209px;
    z-index: 20;
    left: -34px;
    bottom: -22px;
    border-radius: 10px;
    background: #ff020069;
}
.moto_des{
	font-size: 24px;
}

.our_proven_step{
	overflow: hidden;
	background: #f3f3f3;
	padding: 20px;
}

.tieude_proven h3{
	font-size: 34px;
}

.our_proven_step .tieude_proven h3{
	margin-bottom: 20px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    visibility: visible;
    text-overflow: ellipsis;
    overflow: hidden;
}
.our_proven_step .mota {
    font-size: 16px;
    display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 17px;
    max-height: 400px;
    -webkit-line-clamp: 13;
    visibility: visible;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.content_header_out_design{
	overflow: hidden;
}

.content_header_out_design .content_about{
	margin-left: 100px;
	transform: translateY(15%);
}

.ask_question .mota_{
	color: #666666;
	padding: 15px 0;
}

.row_info{
	padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 25px 55px 0 #e7e7e7;
    color: #999999;
}

.down_plus{
	position: absolute;
    right: 15px;
    font-weight: 100;
    cursor: pointer;
}
.ask_question .image_right{
	width: 100%;
	padding: 50px;
}

.ask_question .title_info{
	font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #666666;
}

.border_logic_down{
	position: absolute;
    width: 132px;
    height: 1px;
    background: red;
    border: 2px solid red;
}
.title_top {
	font-size: 60px;
}

/*Reponsive*/
@media screen and (min-width: 1024px){
    .reorder-xs{
    	margin-top: 40px;
    }
    .content_how_it_word{
    	padding: 10px 0;
    }
    .content_how_it_word img{
		padding: 20px;
	}
	.content_how_it_word_pc{
		display: block;
	}
	.content_how_it_word_mobile{
		display: none;
	}
	.content_header{
		overflow: hidden;
		margin: 15px 0;
	}
	.center-block_product .title .title_link_a{
		font-size: 40px !important;
	}
	.ask_question .title_top, .content_header_out_design .txt h2 a{
    	font-size: 38px !important;
	}
	.bodytext{
		font-size: 17px;
	}
	.content_header_out_design .content_about{
		margin-left: 20px;
	}
	.tieude_proven h3{
		font-size: 27px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 700px) {
    
}
 
@media screen and (min-width: 768px)  and (max-width: 800px){
   .txt h2 a{
		font-size: 30px;
	}
	.content_header{
		padding: 50px 10px;
	}
	
	.featured-products .img-thumbnail{
		width: 100%;
	}
	 .about_product .lople{
		width: 40%;
    	height: 40%;
    	right: 0;
	}
	.about_product .lopchan{
		width: 40%;
    	height: 40%;
    	left: 0;
	}
	.center-block_product{
		padding: 0 10px;
	}
	.center-block_product .title{
		/* margin-top: 22px; */
	}
	.content_header .bodytext, .content_about_work_it .bodytext{
		padding-right: 20px;
	}
/* 	.content_how_it_word_pc{
		display: none;
	} */
	.tieude_proven{
		text-align: center;
	}
	.our_proven_step .mota{
		text-align: left;
		max-width: 100%;
	}
	.content_header_out_design .content_about{
		margin-left: 0;
		transform: translateY(3%);
		margin-left: 10px;
	}
	.ask_question .title_top{
    	font-size: 28px !important;
	}
	.ask_question .image_right{
		padding: 5px;
	}
	.bodytext{
		display: -webkit-box;
	    -webkit-box-orient: vertical;
	    max-height: 400px;
	    -webkit-line-clamp: 11;
	    visibility: visible;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	.moto_des{
		font-size: 18px;
	}
	.tieude_proven h3{
		font-size: 20px;
	}
	.our_proven_step .mota{
		font-size: 14px;
	}

}

@media screen and (max-width: 767px){
	.icon_heder{
		bottom: 0;
	}
	.about_product .lople{
		right: 0;
	}
	.content_how_it_word_pc{
		display: none;
	}
	.content_how_it_word_mobile{
		display: block;
		padding: 8px;
	}
	.header_about .nv-block-banners div{
		font-size: 20px !important;
	}
	.txt .size_60 {
		font-size:27px !important
	}
	.our_proven_step .txt .size_60, .content_header_out_design  .txt .size_60, {
		font-size: 28px !important;
	}
	.content_header_out_design  .txt{
		padding: 5px 0;
	}
	.content_header_out_design .content_about{
		transform: translateY(0);
	}
	.ontent_header_out_design{
		padding-bottom: 10px !important;
	}
	.title_link_a, .title_top{
		font-size: 30px !important;
	}
	.about_product .row{
		margin: 0;
	}
	.content{
		padding: 0 5px;
	}
	.content_header .bodytext, .content_about_work_it .bodytext{
		padding-right: 0;
		text-align: left;
	}
	.center-block_product{
		margin-top: 30px;
		padding: 0 10px;
	}
	.frct .panel-body{
		padding-top: 10px;
		padding: 0 !important;
	}
	.hinhanh_how_work_it img{
		width: 100%;
	}
	.content_header_out_design .content_about{
		margin-left: 0;
		padding: 10px;
		margin-bottom: 20px;
	}
	.ask_question .image_right{
		width: 100%;
		padding: 0px;
	}
	.our_proven_step .tieude_proven h3{
		font-size: 20px;
	}
	.our_proven_step .mota{
		font-size: 12px;
	}

	 .row.reorder-xs {
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	    direction: rtl;
	  }
	  .content_header .rotate{
	    text-align: left;
	 	transform: rotate(180deg);
	 	padding: 0;
	  }
	 .ask_question .title_top{
	 	font-size: 20px !important;
	 }
	 .moto_des{
	 	font-size: 16px;
	 }
	 .our_proven_step .mota{
	 	max-width: 100%;
	 	text-align: justify;
	 }
}

@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 375px){
    
}
@media screen and (max-width: 360px){

    @media screen and (max-width: 280px){
       
    }
    @media screen and (max-width: 320px){
        
    }
}