.jssorb05 {
    position: absolute;
    background: #f4f4f4;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div {
    background-position: 0px 0px;
}

.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -27px 0px;
}

.jssorb05 .av {
    background-position: -27px 0px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -27px -0px;
}

.jssora22l, .jssora22r {
    display: block !important;
    position: absolute;
    width: 30px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    opacity: 1
}

.jssora22l {
    top: 0px;
    left: 80px;
    z-index: 9999;
}

.jssora22l:hover, .jssora22r:hover {
    opacity: 0.8;
}

.jssora22r {
    top: 0px;
    right: 80px;
    z-index: 9999;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.jssora22l svg, .jssora22r svg {
    fill: rgba(209, 224, 235, 1);
    stroke: rgba(209, 224, 235, 1);
    stroke-width: 1px;
}

@media only screen and (max-width:767px) {
    .jssora22l {
        left: 20px;
    }
    .jssora22r {
        right: 20px;
    }
}

.sliders img {
    border: none;
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
}
