ul.slimmenu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Barlow", sans-serif;
}

ul.slimmenu li {
    position: relative;
    display: inline-block;
    text-align: left;
}

.menu-collapser {
    position: relative;
    background: transparent;
    color: #FFF;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0;
}

.collapse-button {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 44px;
    color: #FFFFFF;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button .icon-bar {
    background-color: #fff;
    display: block;
    height: 3px;
    width: 24px;
    margin: 3px 0;
}

ul.slimmenu li a {
    padding: 14px 20px;
}

ul.slimmenu li ul li a, ul.slimmenu.collapsed li a {
    padding: 10px;
}

ul.slimmenu.collapsed {
    z-index: 3
}

ul.slimmenu.collapsed li a {
    display: block;
    min-width: 200px
}

ul.slimmenu.collapsed li ul li {
    padding: 0px;
    clear: both;
}

ul.slimmenu.collapsed li ul li a i {
    padding: 0px 5px;
}

ul.slimmenu>li {
    margin-right: -5px;
}

ul.slimmenu>li:first-child {
    border-left: 0
}

ul.slimmenu>li:last-child {
    margin-right: 0
}

ul.slimmenu>li>a {
    display: block;
    color: #fff;
    background: none;
    font-weight: 600;
}

ul.slimmenu li a:hover, ul.slimmenu li a:focus, ul.slimmenu li.current {
    background-color: #004e92;
    text-decoration: none;
}

ul.slimmenu li .sub-collapser {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}

ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

ul.slimmenu li .sub-collapser>i {
    color: #FFFFFF;
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
}

ul.slimmenu li ul li .sub-collapser>i {
    color: #333;
}

ul.slimmenu.collapsed li .sub-collapser>i {
    vertical-align: top;
    margin-top: 14px;
}

ul.slimmenu.collapsed li  .sub-collapser>i {
    vertical-align: top;
    margin-top: 14px;
}

ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
    font-weight: 500;
}

ul.slimmenu li ul li {
    display: block;
    padding: 0;
    text-align: left;
    z-index: 1000;
    clear: both;
}

ul.slimmenu li ul li a {
    color: #333333;
    clear: both;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
}

ul.slimmenu li ul li a:hover, ul.slimmenu li ul li a:focus {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}

ul.slimmenu li>ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    min-width: 200px;
    background: #ffffff;
}

ul.slimmenu li>ul>li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li>ul {
    display: none;
    position: static;
}

@media ( max-width : 768px) {
    ul.slimmenu li>ul {
        border-radius: 0px;
        box-shadow: none;
        border: none;
    }
}

@media ( min-width : 992px) {
    nav>.container>.row {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
}
