/**
 * @Project NUKEVIET 4.x
 * @Author VINADES.,JSC <contact@vinades.vn>
 * @Copyright (C) 2014 VINADES.,JSC. All rights reserved
 * @License GNU/GPL version 2 or any later version
 * @Createdate 31/05/2010, 00:36
 */

/* Các tùy chỉnh CSS của giao diện nên để vào đây */
.section-body{
	background: #fff;
}
#body{
	box-shadow: none;
	border: none;
}
.header_about{
	position: relative;
	width: 100%;
}
.text_header:nth-child(1){
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 4;
	color: #fff;
	transform: translate(-50%, -90%);
	text-align: center;
	font-size: 60px;
	width: 100%;
	font-family: "Poppins";
}
.text_header:nth-child(2){
	margin-top: 100px;
	position: absolute;
	left: 50%;
	top: 60%;
	z-index: 4;
	color: #fff;
	transform: translate(-50%, -90%);
	text-align: center;
	font-size: 60px;
	width: 100%;
	font-family: "Poppins";
}
.border_logic_header{
	position: absolute;
    width: 64px;
    height: 1px;
    background: red;
    border: 2px solid red;
}


.content_header{
	position: relative;
}
.content_header_title a{
	font-size: 50px;
	color: #000000;
	transition: all 0.5s;
}
.hinhanh_header img{
	width: 100%;
}
.hover_red:hover, .tieude:hover{
	color: red;
}
.icon_heder{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: #fff;
	font-size: 23px;
	cursor: pointer;
}
.bodytext{
	font-size: 16px;
}

.featured-products{
	margin-top: 37px;
}

.featured-products .row{
	position: relative;
}
/* .featured-products .col-md-16:nth-child(1){
	position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
} */
.featured-products .col-md-8::after{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
	background: red;
}
.featured-products .row{
	margin-bottom: 75px;
}
.lople{
	position: absolute;
    width: 241px;
    height: 209px;
    z-index: 20;
    right: -32px;
    bottom: -22px;
    border-radius: 10px;
    background: #ff020069;
}

.lopchan{
	position: absolute;
    width: 241px;
    height: 209px;
    z-index: 20;
    left: -34px;
    bottom: -22px;
    border-radius: 10px;
    background: #ff020069;
}

.section-body .featured-products .row .img-thumbnail{
	height: 337px;
	width: 100%;
	padding: 20px;
    /* width: 305px; */
}
/* .content_{
	position: relative;
} */
.content_ .mota{
	font-size: 16px;
	line-height: 25px;
}
.description_content{
	    transform: translateY(50%);
/* 	position: absolute;
    left: 50%;
    bottom: 50%;
    height: 100%;
    transform: translate(-50%, -50%); */
    /* margin: auto; */
}
.featured-products .row{
	/* display: flex; */
}

.p_link{
	margin-top: 50px;
}

.content_a_link{
	padding: 15px;
    background: red;
}

.content_a_link span{
	color: #fff;
}
.content_icon_left i{
	margin-right: 15px;
}
.content_icon_right i{
	margin-left: 70px;
}

.section-body .featured-products .tieude{
	font-size: 48px;
    font-weight: bold;
}
.center-block_product{
	    padding: 30px 130px;
}
.hienthibenduoi{
	margin-top: 30px;
    background: #e2e2e2;
    color: #313131;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    overflow: auto;
  
}
.hienthibenduoi::after{
	/* content: "";
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent red transparent;
	position: absolute;
	left: 0;
	top: -20px; */
}
.close_x{

}

.content_about_work_it{
	
}

.hinhanh_how_work_it img{
	width: 100%;
	/* padding: 20px; */
}

.border_logic_down{
	position: absolute;
    width: 132px;
    height: 1px;
    background: red;
    border: 2px solid red;
}

.content_about_work_it{
	margin-top: 20px;
}
.content_about_work_it p{
	font-size: 13px;
	line-height: 22px;
	padding-right: 157px;
}
.our_proven_step{
	overflow: hidden;
	background: #f3f3f3;
	padding: 20px;
}
.hinhanh a img{
	width: 100%;
	height: 274px;
	padding: 20px;
}
.our_proven_step .tieude h3{
	font-size: 24px;
	margin-bottom: 20px;
}
.our_proven_step .mota {
    font-size: 13px;
    line-height: 22px;
    display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 210px;
    -webkit-line-clamp: 13;
    visibility: visible;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;


}
.our_proven_step .title_top{
	font-size: 38px;
}

/*Reponsive*/
@media screen and (min-width: 1025px){
    .reorder-xs{
    	margin-top: 60px;
    }
    .content_how_it_word{
    	padding: 10px 0;
    }
    .content_how_it_word img{
		padding: 20px;
	}
	.content_how_it_word_pc{
		display: block;
	}
	.content_how_it_word_mobile{
		display: none;
	}
}

@media only screen and (min-width: 640px) and (max-width: 700px) {
    
}
 
@media screen and (min-width: 812px){
   
}

@media screen and (max-width: 768px){
	.content_how_it_word_pc{
		display: none;
	}
	.content_how_it_word_mobile{
		display: block;
	}
	.content_about_work_it p{
		padding-right: 0;
	}
	.content_how_it_word  .content_header_title{
		padding: 10px;
	}
	.content_how_it_word{
		padding: 10px;
	}
	.text_header{
		font-size: 17px !important;
	}
	.text_header:nth-child(2){
		top: 27%;
	}
	.icon_heder{
		bottom: 0;
	}
	.div_logic_header{
		padding-top: 20px;
	}

	.content_header_title a{
		font-size: 32px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.bodytext{
		font-size: 100%;
	}
	.div_logic_header{
		padding-bottom: 0;
	}
	.content_header{
		padding: 0 10px;
	}
	.center-block_product{
		margin-top: 30px;
		padding: 0 10px;
	}
	.center-block_product .tieude{
		font-size: 27px;
	}
	.featured-products .row{
		margin-bottom: 10px;
	}
	.lople, .lopchan{
		right: -10px;
	}
	.hienthibenduoi{
		width: 87vw;
	}
	 .row.reorder-xs {
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	    direction: rtl;
	  }
	  .content_header .rotate{
	    text-align: left;
	 	transform: rotate(180deg);
	 	padding: 0;
	  }
}

@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 375px){
    
}
@media screen and (max-width: 360px){

    @media screen and (max-width: 280px){
       
    }
    @media screen and (max-width: 320px){
        
    }
}