<!-- BEGIN: main  -->
	<input type="hidden" class="height_row" value="{CONFIG.repeat_row}">
	<div class="row daucham">

		<!-- BEGIN: loop  -->
			<i class="fa fa-circle" aria-hidden="true"></i>
		<!-- END: loop -->
	</div>
<!-- END: main -->